{{#each groceries as |grocery|}}
  <section data-id="{{grocery.id}}">
    <div class="col-6 card grocery-card text-orange bg-outline-info col-6">
    <h6>Grocery</h6><h3>
      {{grocery.name}}
    </h3>

    <h6>Category</h6>
    <p>
      {{#if grocery.food_type}}
        {{grocery.food_type}}
      {{else}}
        No category provided.
      {{/if}}
    </p>

    <h6>Amount</h6>
    <p>
      {{#if grocery.amount}}
        {{grocery.amount}}
      {{else}}
        No category provided.
      {{/if}}
    </p>

<div class="container handlecontainer">
  <div class="row">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm col btn-outline-success" data-toggle="modal" data-target="#edit-grocery-{{grocery.id}}">
      Update Grocery
    </button>

    <!-- Modal -->
    <div class="modal fade" id="edit-grocery-{{grocery.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Food</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form data-id="{{grocery.id}}" method="patch" class="update-grocery">
              <input type="text" name="grocery[name]" placeholder="food">
              <input type="text" name="grocery[amount]" placeholder="amount">

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Grocery Category</label>
                    <select class="form-control" type="text" name="grocery[food_type]" id="exampleFormControlSelect1">
                      <option>Food Category</option>
                      <option value="dairy">dairy</option>
                      <option value="protein">protein</option>
                      <option value="fruit">fruit</option>
                      <option value="veggies">veggies</option>
                      <option value="carbs">carbs</option>
                      <option value="drinks">drinks</option>
                    </select>
                </div>
              <button type="submit" value="update" class="updateGrocery col-2 btn-outline-info btn-sm">EDIT</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" value="update" class="btn-outline-warning btn-sm" data-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <button data-id="{{grocery.id}}" class="btn btn-danger update">Update</button> -->


    <button data-id="{{grocery.id}}" class="btn btn-outline-danger col btn-sm delete">Remove</button>
  </div>
</div>
</div>
  </section>

{{/each}}
