{{#each groceries as |grocery|}}
  {{log grocery}}
  <section data-id="{{grocery.id}}">
    <h6>Name:</h6>
    <h3>
      {{grocery.name}}
    </h2>
    <h6>Category</h6>
    <p>
      {{#if grocery.food_type}}
        {{grocery.food_type}}
      {{else}}
        No category provided.
      {{/if}}
    </p>
    <h6>Amount</h6>
    <p>
      {{#if grocery.amount}}
        {{grocery.amount}}
      {{else}}
        No category provided.
      {{/if}}
    </p>

    <form data-id="{{grocery.id}}" method="patch" class="update-grocery">
      <input type="text" name="grocery[name]" placeholder="food">
      <input type="text" name="grocery[amount]" placeholder="amount">
      <input type="text" name="grocery[food_type]" placeholder="category">
      <input type="submit" name="update" class="updateGrocery">
    </form>

    <!-- <button data-id="{{grocery.id}}" class="btn btn-danger update">Update</button> -->
    <button data-id="{{grocery.id}}" class="btn btn-danger delete">Remove</button>
  </section>

{{/each}}
